<%- include('includes/head') %>
<%- include('includes/nav') %>
<% if(user) { %>
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            
            <div class="col-lg-8 my-3">
                <h1 class="text-center">Agenda de Contatos</h1>
                <p class="text-center lead">Olá, <%= user.email %></p>
                <%- include('includes/messages') %>
                
                <div class="text-center mb-4">
                    <a href="/contacts" class="btn btn-success">Novo Contato</a>
                </div>

                <div class="responsive-table">
                    <% if(contacts.length > 0) { %>
                        <table class="table table-hover my-3">
                            <thead class="table-dark">
                                <tr>
                                    <th>Nome</th>
                                    <th>Sobrenome</th>
                                    <th>Email</th>
                                    <th>Telefone</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% contacts.forEach(contact => { %>
                                    <tr>
                                        <td><%= contact.name %></td>
                                        <td><%= contact.surname %></td>
                                        <td><%= contact.email %></td>
                                        <td><%= contact.number %></td>
                                        <td>
                                            <a href="/Contacts/index/<%= contact._id %>" class="text-primary mx-1">
                                                Editar
                                            </a>
                                            <a href="/Contacts/delete/<%= contact._id %>" class="text-danger mx-1">
                                                Apagar
                                            </a>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    <% } else { %>
                        <div class="text-center text-muted mt-5">
                            <p>Ainda não tens contatos registados.</p>
                        </div>
                    <% } %>
                </div>
            </div>
            
            <div class="col-lg-2"></div>
        </div>
    </div>
<% } else { %>
    <div class="container">
        <%- include('includes/messages') %>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 my-3"></div>
            <h1 class="text-center"> Log in to your account to view your contacts.</h1>   
        </div>
<% }  %>
<%- include('includes/footer') %>
   